.navbar {
  background-color:#212731;
  padding: 10px 0;
  position: fixed;
  width: 100vw;
  z-index: 5;
  height: 64px;
  border-bottom: 1px solid #d6d6d6;
  ;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 438px;
  padding-right: 159px;

}


.navbar-links {
  display: flex;
  align-items: center;
  margin-right: 114px;
}

.navbar-links a {
  padding: 15px;
  color: gray;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  cursor: pointer; 
  margin-right: 56px;
}

.navbar-toggle span {
  height: 2px;
  width: 20px;
  background-color:gray;
  margin: 3px 0;
  display: block;
}



p {
  all: unset;
  padding: 4px;
}

@media screen and (max-width: 360px) {
  .navbar-container {
    padding-left: 20px; /* Adjust padding for smaller screens */
    padding-right: 20px; /* Adjust padding for smaller screens */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px; /* Adjust top position based on your navbar height */
    right: 0;
    width: 100%;
    text-align: center;
    background: #212731; /* Background color for navbar links */
    border-bottom: 1px solid #d6d6d6;
  }

  .navbar-links.active {
    display: flex;
    height: 157px;
    width: 141px;
    left: 206px;
    border-radius: 12px;
  }

  .navbar-links a {
    padding: 10px; /* Adjust padding for smaller touch targets */
    color: #ffffff; /* Change text color for better visibility */
  }

  .navbar-toggle {
    display: flex;
    margin-top: 10px;
    margin-right: 15px;
  }

  .navbar-toggle span {
    height: 2px;
    width: 20px;
    background-color: #ffffff; /* Change toggle icon color for better visibility */
    margin: 3px 0;
    display: block;
  }

  .SearchInput,
  .button1,
  .SearchBox {
    width: auto; /* Adjust width as needed */
    height: 32px; /* Adjust height as needed */
  }

  p {
    padding: 4px;
    font-size: 1rem; /* Adjust font size for better readability */
  }
}