
.footer {
    height: 442px;
    background-color:#212731;
    display: flex;
    padding-left: 273px;
    padding-top: 46px;
}

.categories{
    height: 234px;
    width: 232px;
}
.contact{
    height: 234px;
    width: 341px;

}

.Body-footer {
    overflow: hidden;
  }
  
  .Body-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .Body-footer ul li {
    margin-top: 23px;
  }
  
  .Body-footer ul li a {
   
   color: #B6BDC4;
    text-decoration: none;
   
  }
  
  .Body-footer ul li a:hover {
    color: black;
  }

  .united{
    margin-top: 97px;
    color: #B6BDC4;
  }
  #country {
    background: none;
  border: none;
  color: #B6BDC4;
  }
  @media screen and (max-width: 360px) {
    .footer {
      height: 442px;
      background-color: #212731;
      display: flex;
      padding-left: 12px;
      padding-top: 46px;
    }}